.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
  }
  
  .logo {
    height: 50px;
  }
  
  .language-select {
    margin-right: 10px;
    background-color: #282c34;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }